<style>
  :root {
    --color-brand: #da5f51;
    --color-fade: #848586;
    --color-background: #eee0cb;
    --color-background-alt: #baa898;
    --color-body-text: #280003;
    --color-header-text: #da5f51;
  }
  @media(prefers-color-scheme: light) {
    :root {
      --color-brand: #da5f51;
      --color-fade: #848586;
      --color-background: #eee0cb;
      --color-background-alt: #baa898;
      --color-body-text: #280003;
      --color-header-text: #da5f51;
    }
  }
  @media(prefers-color-scheme: dark) {
    :root {
      --color-background: #280003;
      --color-background-alt: #da5f51;
      --color-body-text: #eee0cb;
      --color-header-text: #da5f51;
    }
  }

  body {
    font-family: sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: var(--color-background);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--color-body-text);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: var(--color-header-text);
  }

  a {
    color: var(--color-brand);
  }

  .title {
    text-decoration: none;
    border: 0;
    height: 100px;
    z-index: 1;
  }
  h2.title {
    margin: 0;
  }

  .title span {
    font-weight: 400;
  }

  .back-title {
    font-size: 100px;
    font-weight: 800;
    position: absolute;
    pointer-events: none;
    opacity: 0.25;
    top: 0;
    left: 0;
    z-index: -1;
  }

  main {
    z-index: 1;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: var(--color-background-alt);
  }

  pre code {
    color: var(--color-body-text);
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
  }

  blockquote {
    border-left: 1px solid var(--color-brand);
    color: var(--color-body-text);
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px 0;
    font-size: 12px;
  }

  .helptext {
    color: var(--color-header-text);
    font-size: small;
  }

  .errorlist {
    color: var(--color-header-text);
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: var(--color-brand);
  }
</style>
